/* 12 Columns*/
/* Start variabels */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143/70%);
    --section-padding: 30px;
}
/* End variabels */
/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
ul{
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Start Components */
.uni-background{
    background-color: white;
    min-height: 100vh;
}
.special-heading{
    text-align: center;
}
.special-heading h2{
    font-size: 40px;
    font-weight: normal;
    /* padding-top: 70px; */
    /* margin: 30px; */
}
.special-heading .line{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 0;
}
.special-heading .line hr{
    width: 100px;
}
.special-heading span{
    display: block;
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid black;
}
.special-heading p{
    margin: 0 auto 100px;
    color: #777;
    line-height: 2;
}
/* End Components */

/* Small */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px){
    .container{
        width: 970px;
    }
}

/* Large */

@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

/* End Global Rules */
/* Start Header */
.header{
    /* display: none; */
    position: absolute;
    left: 0;
    width: 100%;  /* I didn't understand this property and its effects */
    z-index: 2;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 77px;
}
.header .container::before{
    content: '';
    position: absolute;
    background-color: #a3a3a3;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}
.header .logo {
    color: white;
}
.header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header i.menu{
    color: white;
    font-size: 20px;
}
@media (min-width: 768px){
    .header i.menu{
        display: none;
    }
}
.header ul{
    display: flex;
}
@media (max-width: 767px){
    .header ul{
        display: none;
    }
    .header .menu:hover + ul {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: black;
    }
    .header .menu + ul a{
        padding: 15px;
    }
}
.header ul a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    display: block;
    padding: 30px 10px;
    position: relative;
    z-index: 2;
}
ul a.home{
    color: var(--main-color);
}
.header ul a:hover,
.header ul a.home{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.header nav .form{
    height: 30px;
    width: 40px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}
.header .form i{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
}
/* End Header */
/* Start Landing Section */
.landing {
    /* display: none; */
    background-color: #000000;
    background-image: url(../images/wolf.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    min-height: 100vh;
    position: relative;
}
.landing .overlay{
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0/60%);
}
.landing .text{
    color: white;
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 400px;
}
@media (max-width: 767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .content h2{
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: normal;
}
.landing .content p{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.8;
}
@media (max-width: 767px){
    .landing .content h2{
        font-size: 24px;
    }
}
.landing .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
}
@media (max-width: 767px){
    .landing .change-background{
        display: none;
    }
}
/* .landing .change-background:hover body{
    background-color: rgb(0 0 0/0%);
} */
.landing .left{
    left: 30px;
}
.landing .right{
    right: 30px;
}
.landing .bullet{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    min-width: 60px;
    justify-content: space-between;
}
.landing .bullet li{
    border: 2px solid white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.landing ul li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* End Landing Section */
/* Start Services Section */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container{
    padding-bottom: 30px;
}
.services .srv{
    display: flex;
}
@media (max-width: 767px) {
    .services .srv{
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
}
.services .srv i{
    color: var(--main-color);
    margin-right: 30px;
    font-size: 40px;
}
@media (max-width: 767px) {
    .services .srv i{
        margin: 0 0 30px;
    }
}
.services .srv h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv p{
    line-height: 2;
    color: #777;
}
@media (min-width: 768px){
    .services .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
}
/* End Services Section */
/* Start Design Section  */
.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url(../images/design-background.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0/15%);
}
.design .image,
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
    margin: 0 20px;
}
@media (max-width: 767px){
    .design .image{
        display: none;
    }
}
.design img{
    width: 500px;
    height: 500px;
    position: relative;
    bottom: -91px;
}
.design .text{
        color: white;
        background-color: var(--transparent-color);
        padding: 30px;
    }
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text li{
    padding: 15px 0;
}
.design ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\e163";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* End Design Section  */
/* Start Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
.portfolio li{
    padding: 10px;
}
.portfolio li:first-child{
    color: white;
    background-color: var(--main-color);
}
.portfolio li:active{
    color: white;
    background-color: var(--main-color);
}
.portfolio .img-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
@media (max-width: 767px){
    .portfolio .img-container .box{
        flex-basis: 100%;
    }
}
@media (min-width: 768px){
    .portfolio .img-container .box{
        flex-basis: 50%;
    }
}
@media (min-width: 1199px){
    .portfolio .img-container .box{
        flex-basis: 25%;
    }
}
.portfolio .img-container .box{
    position: relative;
    overflow: hidden;
}
.portfolio .img-container img{
    width: 100%;
    height: 90%;
    transition: 0.2s;
}
.portfolio .img-container .caption{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -100%;
    background-color: white;
    padding: 20px;
    transition: 0.2s;
}
.portfolio .box:hover .caption{
    bottom: 0;
}
.portfolio .box:hover img{
    height: 80%;
    transform: rotate(3deg) scale(1.1);
}
.portfolio .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .caption p{
    color: var(--main-color);
}
.portfolio .more {
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin: 20px auto;
    text-transform: uppercase;
}
/* End Portfolio Section */
/* Start Vedio Section */
.video{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.video-container{
    background-image: url(../images/SnowBackground.jfif);
    height: 600px;
    background-size: cover;
    position: relative;
}
.video .text{
    color: white;
    position: absolute;
    height: 300px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.video .text h2{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.video .text p{
    position: relative;
    top: -50px;
}
@media (max-width: 767px){
    .video .text p {
        top: -35px;
    }
}
.video .text button{
    color: white;
    background-color: black;
    text-decoration: none;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px auto;
    text-transform: uppercase;
}
/* End Vedio Section */
/* Start About Section */
.about{
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img{
    position: relative;
    bottom: -200px;
    margin-top: -200px;
    max-width: 100%;
}
@media (max-width: 767px){
    .about img{
        bottom: -60px;
        margin-top: -60px;
    }
}
/* End About Section */
/* Start Stat Section */
.stat{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/stat.jfif);
    background-size: cover;
}
.stat .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stat .box{
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
}
@media (max-width: 767px){
    .stat .box{
        flex-basis: 100%;
    }
}
@media (min-width: 768px){
    .stat .box{
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .stat .box{
        flex-basis: 25%;
    }
}
.stat i{
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0px auto 20px;
}
.stat h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stat p{
    text-align: center;
    font-size: 14px;
}
/* End Stat Section */